# Server
PORT=3000
CORS_ORIGIN=http://localhost:3000

# Security
JWT_SECRET=super-secret-jwt-key-for-moncar-123
ADMIN_REGISTER_SECRET=admin-secret-key-123

# Database
DATABASE_URL="mysql://root:password@localhost:3306/moncar"
